vendor
Example
*.log
Source/Models/Llstudio
Source/Models/Llstudio/*
Source/Providers/Llstudio
Source/Providers/Llstudio/*
Source/Response/Objects/Llstudio
Source/Response/Objects/Llstudio/*

Source/Models/OpenAi
Source/Models/OpenAi/*
Source/Providers/OpenAi
Source/Providers/OpenAi/*
Source/Response/Objects/OpenAi
Source/Response/Objects/OpenAi/*

Source/Models/Anthropic
Source/Models/Anthropic/*
Source/Providers/Anthropic
Source/Providers/Anthropic/*
Source/Response/Objects/Anthropic
Source/Response/Objects/Anthropic/*

Source/Models/Google
Source/Models/Google/*
Source/Providers/Google
Source/Providers/Google/*
Source/Response/Objects/Gemini
Source/Response/Objects/Gemini/*
